html {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
    border: 2px solid black;
    border-right: none;
}
nav>ul>li:last-child {
    border-right: 2px solid black;
}

nav>ul>li#active {
    background-color: black;
}

nav>ul>li#active>a { 
    color: white; 
}

nav>ul>li>a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    text-align: center;
}